APP_NAME=FoodProject
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=db
DB_USERNAME=db
DB_PASSWORD=db

# Alternative: use SQLite locally
# DB_CONNECTION=sqlite
# DB_DATABASE=./database/database.sqlite

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

# Google reCAPTCHA
NOCAPTCHA_SECRET=
NOCAPTCHA_SITEKEY=
